.filtros-holder {
	width: 110px;
	height: 610px;
	float: right;
	border: 1px solid black;
	background-color: white;
}

.fa-paint-brush {
	font-size: 45px;
	transition: all 0.2s;
}
.icon-holder {
	border-bottom: 1px solid black;
}

.fa-paint-brush:hover {
	cursor: pointer;
	opacity: 0.7;
}
.fa-arrow-up,
.fa-arrow-down {
	font-size: 45px;
	transition: all 0.2s;
}
.fa-arrow-up:hover,
.fa-arrow-down:hover {
	opacity: 0.5;
	cursor: pointer;
}
.filtros-carousel-holder {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 454px;
}
.filtros-carousel {
	height: 310px;
	width: 100%;
	overflow: scroll;
}
.filtro {
	background-color: red;
	margin: 0 auto 0 auto;
	height: 80px;
	width: 80px;
	overflow: hidden;
}
.filtro:hover {
	cursor: pointer;
	box-shadow: 1px 1px 4px rgba(139, 139, 139, 0.6);
}
.filtro img {
	height: 100%;
}
.filtro:not(:first-child) {
	margin: 30px auto 0 auto;
}
.arrow-up-holder {
	background-color: white;
	border: none;
	outline: none;
}
.brush-size {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 50px;
}
.fa-minus,
.fa-plus {
	transition: all 0.2s;
}
.fa-minus:hover,
.fa-plus:hover {
	opacity: 0.7;
	cursor: pointer;
}

button {
	background-color: white;
	outline: none;
	border: none;
}
.filtros-carousel::-webkit-scrollbar {
	display: none;
}
.color-picker {
	position: absolute;
	top: 0;
	right: 115px;
}
.color-block {
	width: 55px;
	height: 55px;
	margin: 5px auto;
	border-radius: 20px;
	border: 1px solid rgba(100, 100, 100, 0);
}
